.game-board {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    transition: opacity 1s ease;
}

.modal {
    width:100%;
    height:100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid;
    transition: opacity 1s ease;
}

h1 {
    font-size: 4rem;
    margin: 2rem;
    font-family: roboto;
}

h2 {
    font-family: roboto;
    font-weight: 600;
    font-size: 2rem;
}

.square {
    width: 30%;
    height: 30%;
    background-color: white;
    display: flex;
}

.selection-image {
    height: 95%;
    width: 95%;
    margin: auto;
}

.display-disabled {
    display: none;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.char-select-wrapper {
    margin: 2rem 0 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.player-wrapper {
    display: flex;
    flex-direction: column;
}

.human-computer-sel {
    width: 15vh;
    height: 5vh;
    margin: 1rem auto;
    border-radius: 0;
    border: 2px solid;
    background: none;
    cursor: pointer;
}

.radio-char-selection {
    height: 20vh;
    width: 20vh;
    display:flex;
    flex-wrap: wrap;
    gap: 10%;
}

.radio-char-selection-square {
    width: 45%;
    height: 45%;
    display:flex;
}


.radio-char-selection-square > img {
    margin: auto;
    height: 95%;
    width: 95%;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio] + img {
    cursor: pointer;
}

[type=radio]:checked + img {
    outline: 2px solid black;
}

.start-round-btn {
    width: 8rem;
    font-family: roboto;
    font-weight: 600;
    font-size: 2rem;
    border-radius: 0;
    border: 2px solid;
    background: none;
    cursor: pointer;
}

.victory-div {
    width:100%;
    height: 100%;
    background-color: white;
    transition: opacity 1s ease;
}

.flex {
    display: flex;
    flex-direction: column;
}

.victory-image {
    width: 50%;
    height: 50%;
    margin: auto;
}

.victory-image + h1 {
    margin: 0 auto auto auto;
}

.opacity-zero {
    opacity: 0;
}

.opacity-one {
    opacity: 1;
}



@media only screen and (max-width: 600px) {

    h1{
        font-size: 2rem;
        margin: 1rem;
    }

    .char-select-wrapper {
        margin: 1rem 0 1rem 0;
        gap: 1rem;
    }

    .human-computer-sel {
        margin: 0.5rem auto;
    }

    .radio-char-selection {
        height: 30vw;
        width: 30vw;
        gap: 10%;
        margin: auto;
    }

}
