header {
    height: 10vh;
}

.body-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.game-board-location {
    width: 80vh;
    height: 80vh;
}

@media only screen and (max-width: 600px) {
    .game-board-location {
        width: 90vw;
        height: 90vw;
    }
}